body {

  background-color:aqua;
  text-align: center;


}

header {

  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: larger;

}

p {

color: blue;  
text-align: center;  
}

p.ridge {border-style: ridge;}
